@charset "utf-8";

@import "reset", "utils";


* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Serif', serif;
}

canvas {
  @include absoluteTopLeft;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  display: block;
  width: 400px;
  height: 400px;
}
